@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

.btnLabel{
	margin-left: 5px;
	margin-right: 5px;
}

.btnShare{
	padding: 3px;
	background-color:gray;
	margin: 2px;
	color: white;
	font-weight: bold;
	display: inline;
}

.btnShare:hover{
	background-color: #F5D0A9;
	color: white;
}

.btnTwitter:hover{
	background-color: #00aced;
	color: white;
}

.btnFacebook:hover{
	background-color: #3B5998;
	color: white;
}

.btnGooglePlus:hover{
	background-color: #d34836;
	color:white;
}

.btnLinkedin:hover{
	background-color: #007bb6;
	color:white;
}